*{
    box-sizing: border-box;
}
body{
    max-width: 1250px;
    padding: 10px;
    margin: auto;
}

  h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
    word-break: break-word;
  }
  a,a:visited,a:hover{
    text-decoration: none;
    color: inherit;
  }

  li{
    list-style-type: none;
  }
  
  img{
    width:100%
  }
.posts_main{
    border-top: 1px solid #000;
}
.post_card{
    border: 1px solid red !important;
    padding:10px 10px 0 10px !important ;
    border-radius: 10px;
    height: 100%;
    .post_content{
        border-top: 1px solid gray;
        margin-top: 10px;
    }
    .post_comments{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }
    .comment_main{
        border-bottom: 1px solid gray;
    }
}
.carousel_post{
    margin-bottom: 10px;
    .post_card{
        max-width: 80% !important;
    }
}
.dashboard_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
@media only screen and (max-width: 450px) {
    .dashboard_head {
      display: block;
    }
}




